/* Root Region */
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
  --orderup-light-blue: #8ecae6;
  --orderup-medium-blue: #219cba;
  --orderup-dark-blue: #023047;
  --orderup-light-grey: #e0e1dd;
  --orderup-darkest-blue: #0d1b2a;
  --orderup-white: #ebecfa;

  /*Colors for customer-visible screens*/
  --orderup-light-red: #f62a13;
  --orderup-medium-red: #d01f0e;
  --orderup-dark-red: #a91509;
  --orderup-darkest-red: #830a05;

  --orderup-poppins: "Poppins", Arial, Helvetica, sans-serif;

  --size-0: 14px;
  --size-1: 18px;
  --size-2: 24px;
  --size-3: 32px;
  --size-4: 42px;

  --text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.8);
}

@keyframes slideToLeft {
  from {
    transform: translateX(100%);
    background-color: var(--orderup-light-red);
  }

  to {
    transform: translateX(0);
    background-color: var(--orderup-medium-blue);
  }
}

@keyframes slideToRight {
  from {
    transform: translateX(0);
    background-color: var(--orderup-medium-blue);
  }

  to {
    transform: translateX(100%);
    background-color: var(--orderup-light-red);
  }
}

@keyframes showMessage {
  from {
    opacity: 0;
  }

  to {
    opacity: 0.8;
  }
}

@keyframes hideMessage {
  from {
    opacity: 0.8;
  }

  to {
    opacity: 0;
  }
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* End Root Region*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--orderup-poppins);
  transition: all 0.5s ease-in-out;
  position: relative;
}

.light-red {
  background-color: var(--orderup-light-red) !important;
  border-radius: 8px;
}

.bg-darkest-red {
  background-color: var(--orderup-darkest-red) !important;
}

body {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
}

#root {
  flex: 1;
  display: flex;
  flex-direction: column;
}

/* End Root Region*/

/* #region Adrian */

.header {
  position: fixed;
  display: block;
  background-color: var(--orderup-dark-blue);
  height: 50px;
  width: 100%;
  font-weight: 600;
}

.logo-header {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo-img {
  filter:
    invert(45%) sepia(78%) saturate(437%) hue-rotate(145deg) brightness(100%) contrast(94%) drop-shadow(1px 1px 2px rgba(0, 0, 0, 0.6));
  margin-top: -5px;
  height: 115%;
  transition: filter 0s;
}

.logo-img-red {
  filter:
    invert(34%) sepia(74%) saturate(5941%) hue-rotate(352deg) brightness(95%) contrast(103%) drop-shadow(1px 1px 3px rgba(0, 0, 0, 0.6));
}

.logo-name {
  color: var(--orderup-white);
  font-size: var(--size-2);
  margin-top: -5px;
  margin-left: -5px;
}

.page {
  container: pagecontainer / inline-size;
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}

.container {
  container: login / inline-size;
  display: flex;
  align-items: center;
  background-color: var(--orderup-dark-blue);
  height: 400px;
  width: 65%;
  border-radius: 15px;
}

.container .img-hero {
  contain: inline-size;
  background-color: var(--orderup-darkest-blue);
  overflow: hidden;
  border-radius: 15px;
  height: 100%;
  width: 55%;
}

.container .img-hero img {
  position: absolute;
  top: 0;
  left: 50%;
  height: 100%;
  min-width: 100%;
  aspect-ratio: 1/1;
  transform: translate(-50%);
}

.form-container {
  height: 100%;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form-login {
  height: 80%;
  padding: 0 20px;
  justify-content: space-around;
  display: flex;
  flex-direction: column;
}

.form-login .forgot-password {
  margin-top: 3px;
  align-self: flex-end;
  font-size: var(--size-0);
  color: var(--orderup-white);
  text-decoration: none;
  text-shadow: var(--text-shadow);
}

input {
  border-radius: 6px;
  border: none;
  padding: 8px 10px;
  width: 100%;
}

input::placeholder {
  color: #7e7e7e;
}

.form-login button {
  padding: 8px;
  background-color: var(--orderup-medium-blue);
  color: var(--orderup-white);
  border: none;
  border-radius: 8px;
  font-size: var(--size-0);
  text-shadow: var(--text-shadow);
  font-weight: 600;
}

.group-inputs {
  display: flex;
  flex-direction: column;
}

.group-inputs div:nth-child(1) {
  margin-bottom: 10px;
}

.radio-inputs {
  display: flex;
  flex-wrap: wrap;
  border-radius: 0.5rem;
  padding: 0.25rem;
  font-size: var(--size-0);
}

.radio-inputs .radio {
  flex: 1 1 auto;
  text-align: center;
}

.radio-inputs .radio input {
  display: none;
}

.radio-inputs .radio .user-type {
  display: flex;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  border: none;
  padding: .4rem 0;
  font-weight: 600;
  color: var(--orderup-white);
  text-shadow: var(--text-shadow);
  transition: all .15s ease-in-out;
  user-select: none;
}

#admin,
#device {
  z-index: 9;
}

.radio-inputs .selected-type {
  position: absolute;
  background-color: var(--orderup-medium-blue);
  top: 0;
  left: 5px;
  height: 100%;
  width: 50%;
  border-radius: 10px;
}

.slide-to-left {
  animation: slideToLeft 0.5s ease-in-out forwards;
}

.slide-to-right {
  animation: slideToRight 0.5s ease-in-out forwards;
}

.eyes {
  position: absolute;
  top: 15%;
  right: 0;
  width: 25px;
  margin-right: 7px;
  color: grey;
  cursor: pointer;
}

.hidden {
  display: none;
}

.msg-modal{
  position: absolute;
  padding: 10px 30px;
  background-color: var(--orderup-light-grey);
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 10px;
  text-align: center;
  z-index: 99;
  opacity: 0;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
  transition: color 0s;
}

.msg-modal-text{
  font-weight: 600;
}

.show-message{
  animation: showMessage 0.5s ease-in-out forwards;
}

.hide-message{
  animation: hideMessage 0.5s ease-in-out forwards;
}

.error{
  color: var(--orderup-light-red);
}

.success{
  color: var(--orderup-medium-blue);
}

/* #endregion */

/* #region Cesar */

/* #endregion */

/* #region Murilo */
#important{
  color:var(--orderup-light-red);
  font-size: var(--size-3);
}

#list-container{
  width: 100%;
  text-align: center;
}

#list-table{
  border-collapse: collapse;
  width: 100%;
  margin-top: 50px;
}

#list-title{
  margin-top: 40px;
  font-size: var(--size-3);
  color: var(--orderup-darkest-blue);
}

#table-titles{
  background-color: var(--orderup-dark-blue);
  height: 50px;
  width: 100%;
  color: var(--orderup-white);
}

#button-new{
  cursor: pointer;
  background-color: var(--orderup-medium-blue);
  color: var(--orderup-white);
  border: 0px;
  border-radius: 5px;
  width: 150px;
  height: 40px;
  font-weight: 600;
}

#search-input{
  height: 30px;
  width: 25%;
  padding-inline: 50px;
  border-radius: 10px;
  margin-top: 40px;
  border: 0px;
  background: var(--orderup-light-grey) url("../img/lupa_icon.png") no-repeat left center / 15px;
  background-position: 20px;
}

td{
  padding-block: 20px;
}

td img{
  cursor: pointer;
  height: 30px;
  width: 30px;
  margin-inline: 20px;
}

.tr-grey{
  background-color: var(--orderup-light-grey);
}

/*Modal*/
.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.background{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("../img/Hero_OrderUp.jpg");
  filter: blur(10px);
  background-size: cover;
  display: block;
}

.modal-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 500px;
  height: 300px;
  background-color: var(--orderup-dark-blue);
  border-radius: 10px;
  padding: 20px;
  text-align: center;
  align-content: center;
  font-family: var(--orderup-poppins);
  color: var(--orderup-white);
}


#question {
  font-size: var(--size-2);
}

#form-update {
  font-size: var(--size-1);
  margin-top: 20px;
  align-items: center;
  display: flex;
  flex-direction: column;
  
}

#form-update input, #form-update textarea{
  border-radius: 5px;
  background-color: var(--orderup-light-grey);
  margin-block: 5px;
  color: var(--orderup-dark-blue);
}
#form-update input{
  width: 215px;
}

.modal-close {
  color: var(--orderup-white);
  font-size: var(--size-1);
  font-weight: 600;
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  width: 20px;
  height: 20px;
}

.modal-button {
  cursor: pointer;
  height: 30px;
  width: 150px;
  border-radius: 10px;
  border: 0px;
  background-color: var(--orderup-medium-blue);
  font-weight: 500;
  color: var(--orderup-white);
  font-family: var(--orderup-poppins);
  font-size: var(--size-0);
  margin-top: 20px;
}

/* #endregion */

/* #region Victor */


/* #endregion */

/* #region container-queries */
@container pagecontainer (max-width: 450px) {
  .msg-modal{
    width: 80%;
    padding: 10px;
  }
}

@container pagecontainer (max-width: 375px) {
  .container {
    width: 95%;
  }
  .msg-modal{
    width: 90%;
  }
}

@container login (max-width: 600px) {
  .img-hero {
    display: none;
  }

  .form-container {
    padding: 0;
  }

  .form-container .form-login input {
    width: 100%;
  }
}

/* #endregion */