/* Root Region */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
  --orderup-light-blue: #8ECAE6;
  --orderup-medium-blue: #219EBC;
  --orderup-dark-blue: #023047;
  --orderup-light-grey: #E0E1DD;
  --orderup-darkest-blue: #0D1B2A;
  --orderup-white: #EBECFA;
  
  --orderup-poppins: 'Poppins', Arial, Helvetica, sans-serif;

  --size-0: 14px;
  --size-1: 18px;
  --size-2: 24px;
  --size-3: 32px;
  --size-4: 42px;
 
}
/* End Root Region*/


/* #region Adrian */

/* #endregion */

/* #region Cesar */
:focus {
  outline: 0;
  border-color: #2260ff;
  box-shadow: 0 0 0 4px #b5c9fc;
}

.mydict div {
  display: flex;
  flex-wrap: wrap;
  margin-top: 0.5rem;
  justify-content: center;
}

.mydict input[type="radio"] {
  clip: rect(0 0 0 0);
  clip-path: inset(100%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.mydict input[type="radio"]:checked + span {
  box-shadow: 0 0 0 0.0625em #0043ed;
  background-color: #dee7ff;
  z-index: 1;
  color: #0043ed;
}

label span {
  display: block;
  cursor: pointer;
  background-color: #fff;
  padding: 0.375em .75em;
  position: relative;
  margin-left: .0625em;
  box-shadow: 0 0 0 0.0625em #b5bfd9;
  letter-spacing: .05em;
  color: #3e4963;
  text-align: center;
  transition: background-color .5s ease;
}

label:first-child span {
  border-radius: .375em 0 0 .375em;
}

label:last-child span {
  border-radius: 0 .375em .375em 0;
}

/* #endregion */

/* #region Murilo */
  .header{
    display: block;
    text-align: center;
    align-content: center;
    background-color: var(--orderup-dark-blue);
    height: 100px;
    width: 100%;
    color: var(--orderup-light-blue);
    font-size: var(--size-4);
  }
  #list-items-container{
    font-family: var( --orderup-poppins);
    color: var(--orderup-darkest-blue);
    background-color: var(--orderup-white);
    margin: 0px auto;
    padding: 0px;
    text-align: center;
    padding-block:20px;
  }
  .list-item-box{
    font-size: var(--size-1);
    background-color: var(--orderup-light-grey);
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: 10px;
    height: 100px;
    justify-content: space-around;
    align-items: center;
    margin-inline: 80px;
    border-radius: 10px;
  }
  .list-title{
    font-size: var(--size-1);
    font-weight: bold;
    margin-bottom: -10px;
  }
  .list-item-box img{
    cursor: pointer;
    height: 30px;
    margin: 20px;
  }

/* #endregion */

/* #region Victor */

/* #endregion */